<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guohe.onegame">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.guohe.onegame.CustomeApplication"
        android:theme="@style/AppTheme">

        <activity android:name=".view.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".view.mine.PersonalPageActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.mine.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.GuideActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.mine.MyWalletActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.mine.RechargeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.mine.WalletDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.mine.MineInfoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.mine.MyFollowdActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.mine.MyFansActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.mine.MyProcessActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.mine.BindMobileActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.mine.BindSuccessActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.mine.FeadbackActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.mine.AboutUsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.DebugActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>